# Team
# @luongvo is the Team Lead
* @luongvo @manh-t @markgravity @sleepylee @chornerman @doannimble @hoangnguyen92dn @nmint8m @ducbm051291 @thiennguyen0196 @kaungkhantsoe @Shayokh144 @toby-thanathip @Wadeewee

# Engineering Leads
CODEOWNERS @nimblehq/engineering-leads
