name: ios-deploy-to-testflight
on:
  # Trigger the workflow on push action
  push:
    branches:
      - develop

jobs:
  build_and_upload_to_testflight:
    name: Build And Upload iOS Application To TestFlight
    runs-on: macOS-latest
    timeout-minutes: 30
    env:
      TEAM_ID: ${{ secrets.TEAM_ID }}
      FASTLANE_USER: ${{ secrets.FASTLANE_USER }}
      FASTLANE_PASSWORD: ${{ secrets.FASTLANE_PASSWORD }}
      FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD: ${{ secrets.FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD }}
      FASTLANE_SESSION: ${{ secrets.FASTLANE_SESSION }}
      MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
      KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
    steps:
    - uses: actions/checkout@v1

    - name: Install SSH key
      uses: webfactory/ssh-agent@v0.4.1
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Set up Flutter environment
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        flutter-version: '3.3.10'

    - name: Get Flutter dependencies
      run: flutter pub get

    - name: Run code generator
      run: flutter packages pub run build_runner build --delete-conflicting-outputs

    - name: Bundle install
      run: cd ./ios && bundle install

    - name: Pod install
      run: cd ./ios && pod install

    - name: Match AppStore
      run: cd ./ios && bundle exec fastlane sync_appstore_staging_signing

    - name: Deploy to TestFlight
      run: |
        cd ./ios && bundle exec fastlane build_and_upload_testflight_app
